[SddmGreeterTheme]
Name=SanctuaryOS
Description=Dusqk and Eleanor say hello!
Author=arcanopulse
Copyright=None
License=None
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=admin@arcanopulse.org
Theme-Id=sanctuary-os
Theme-API=2.11
